* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

/* exo-2-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/exo-2-v26-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/exo-2-v26-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/exo-2-v26-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pt-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pt-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --cl-yellow: #FFCE50;
    --cl-green: #0B7572;
    --cl-silver: #6B6B6C;
    --cl-title: #363738;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

body {
    font-family: 'Exo 2', sans-serif;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: start;
}

.hero-info-title {
    font-size: 52px;
    font-weight: 600;
    color: var(--cl-title);
}

.hero-info-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--cl-silver);
}

.more {
    position: relative;
    font-weight: 700;
    font-style: 16px;
    color: #000;
}

.more::before {
    content: '';
    display: block;
    background-color: var(--cl-yellow);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;

}

.card {
    width: 225px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    font-size: 20px;
}

.card {
    border: 1px solid #000000;
    padding: 0 20px 0 0;
    border: none;
    border-right: 1px solid var(--cl-title);
}

.card img {
    width: 92px;

}

.card p {
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.info-card-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.info-card-section {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
    padding: 10px 5px;
    border-radius: 20px;
}

.bg-truck {
    width: 1240px;
    height: 432px;
    background-image: url(../images/images/bg\ trtuck\ decstop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;

}

.bg-tablet {
    display: none;
    background-image: url(../images/images/dg\ truck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;


}

.bg-cards {
    width: 1242px;
    display: flex;
    column-gap: 500px;
    margin-top: 50px;
}

.bg-cards-info {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
}

.bg-cards-info h5 {
    font-size: 24px;
    font-weight: 600;
}

.bg-cards-info img {
    width: 92px;
}

.cost-section-card {
    margin-top: 40px;

}

.cost-section-card p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    width: 557px;
}

.cost-card-img {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
}

.card-img p {
    width: 412px;
}

.cost-info-h3 {
    font-size: 44px;
    font-weight: 700;
}

.postavka {
    margin-top: 50px;
}

.etap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.etap-card {
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 1183px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
    padding: 10px 5px;
    border-radius: 20px
}

.etap-info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

@media(max-width:1098px) {
    .container {
        padding: 0 10px;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        column-gap: 73px;
    }

    .hero-info {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;

    }

    .hero-info-title {
        font-size: 44px;
        font-weight: 600;
        text-align: center;
    }

    .hero-info-text {
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .hero-img {
        width: 100%;
        margin-top: 73px;
    }

    .info-card-section {
        flex-direction: column;
        row-gap: 50px;
    }

    .card {
        width: 890px;
        display: flex;
        border: none;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.35);
        padding: 10px 5px;
        border-radius: 20px;
    }

    .card h5 {
        font-size: 20px;
        font-weight: 600;
    }

    .card p {
        font-weight: 400px;
        width: 390px;
    }

    .bg-truck {
        display: none;
    }

    .bg-tablet {
        display: block;
        width: 100%;
        height: 432px;
    }

    .bg-cards {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .wrapper-bg-card {
        display: flex;
        flex-direction: column;
    }

    .cost-card-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-img img {
        width: 690px;
    }

    .bg-cards {
        align-items: center;
    }

    .etap {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        justify-content: center;

    }

    .etap img {
        display: none;
    }

    .etap-card {
        width: 590px;
    }
}