* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* exo-2-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/exo-2-v26-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/exo-2-v26-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/exo-2-v26-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pt-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pt-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --cl-yellow: #FFCE50;
    --cl-green: #0B7572;
    --cl-silver: #6B6B6C;
    --cl-title: #363738;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

body {
    font-family: 'Exo 2', sans-serif;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: start;
}

.hero-info-title {
    font-size: 52px;
    font-weight: 600;
    color: var(--cl-title);
}

.hero-info-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--cl-silver);
}

.more {
    position: relative;
    font-weight: 700;
    font-style: 16px;
    color: #000;
}

.more::before {
    content: '';
    display: block;
    background-color: var(--cl-yellow);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -5px;

}

.services-list {
    max-width: 100%;
    margin-top: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    gap: 65px;
    box-shadow: 2px 5px 15px 5px rgba(34, 60, 80, 0.52);
    border-radius: 20px;
}

.service-item {
    border-right: 1px solid silver;
    padding-right: 10px;
}

.service-item:nth-child(3) {
    border: none;
}

.image-wrap {
    width: 92px;
    height: 92px;
    background-color: #E9E9EC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 24px;
}

.service-text {
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    color: var(--cl-silver);
}

.fact-section {
    margin-top: 67px;
}

.fack-main-image {
    position: relative;
    overflow: hidden;
    height: 453px;
}

.act-bg-image {
    width: 100%;

}

.fact-img-title {
    width: 362px;
    font-size: 48px;
    font-weight: 600;
    color: white !important;
}

.bg-form {
    position: absolute;
    clip-path: polygon(1% 0, 60% 0, 100% 100%, 0% 100%);
    background-color: #0B7572;
    z-index: 2;
    width: 750px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fact-list {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 0 66px;

}

.fact-item {
    width: 447px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.fact-image-wrap {
    width: 80px;
    height: 80px;
    background-color: #E9E9EC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fact-tablet-image {
    display: none;
}

.fact-title {
    font-size: 20px;
    font-weight: 600;
}

.fact-text {
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--cl-silver);
}

.work-info {
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 667px;
}

.work-info-h2 {
    font-size: 48px;
    font-weight: 600;
    color: var(--cl-title);
}

.work-info-p {
    font-size: 16px;
    font-weight: 400;
    color: var(--cl-silver);
}

.work-card-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--cl-silver);
    padding-top: 16px;
    padding-bottom: 32px;
}

.work-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.work-card {
    margin-top: 40px;
    width: 393px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    box-shadow: 2px 5px 15px 5px rgba(34, 60, 80, 0.52);
}

.work-card-info {
    padding: 20px;
}



.etap-title {
    font-family: Exo 2;
    font-weight: 600;
    font-size: 48px;
}

.etap-card {
    display: flex;
    column-gap: 56px;
    position: relative;
    padding: 32px;
    -webkit-box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
    -moz-box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
    box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
    border-radius: 10px;
}

.etap-card-info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}

.etap-card-info p {
    font-size: 16px;
    font-weight: 400;
    color: var(--cl-silver);
}

.sold {
    position: relative;
    font-weight: 700;
    font-style: 16px;
    color: #000;
}

.etap {

    margin-top: 67px;
}

.sold::before {
    content: '';
    display: block;
    background-color: var(--cl-yellow);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -10px;
    width: 86px;
}

.etap-card-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.etap-card img {
    min-width: 331px;
    height: 181px;
}

.video-image {
    width: 100%;
    margin-top: 67px;

}



.footer {
    margin-top: 67px;
    padding: 40px 0;
    background-color: var(--cl-green);
    width: 100%;
    align-items: center;
    justify-content: center;

    top: 1000px;
    color: whitesmoke;
    padding-top: 79px;
    padding-bottom: 124px;
}

.footer-logo {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.footer-button {
    width: 271px;
    height: 42px;
    padding: 12px 24px;
    background-color: #ff9619;
    color: black;
    font-weight: 600;
    border: none;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.footer-big-wrapper {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
}



.logo-info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.big-wrapper2 {
    display: flex;
    align-items: center;
    column-gap: 350px;
    padding-left: 50px;
}

.button-end {
    display: flex;
    flex-direction: column;
    row-gap: 91px;
}

.krug {
    width: 27px;
    height: 27px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

@media(max-width:1098px) {
    .container {
        padding: 0 10px;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        column-gap: 73px;
    }

    .hero-info {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        align-items: center;

    }

    .hero-info-title {
        font-size: 44px;
        font-weight: 600;
        text-align: center;
    }

    .hero-info-text {
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .hero-img {
        width: 100%;
        margin-top: 73px;
    }


    .services-list {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        padding: 0;
        gap: 16px;
    }

    .service-item {
        width: 100%;
        border: none;
        padding: 32px;
        -webkit-box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
        -moz-box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
        box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
        border-radius: 20px;
        display: flex;
        align-items: start;
        gap: 32px;
    }


    .image-wrap {
        width: 92px !important;
        height: 92px !important;
        background-color: #E9E9EC;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .service-title {
        font-family: 'Exo 2', sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding-top: 0;
    }

    .service-text {
        font-size: 16px;
        font-weight: 400;
        padding-top: 16px;
        color: var(--cl-silver);
    }


    .fack-main-image {
        display: none;
    }

    .fact-tablet-image {
        display: block;
        width: 100%;
    }

    .act-bg-image {
        display: none;
    }

    .fact-img-title {
        width: 362px;
        font-size: 48px;
        font-weight: 600;
        color: white !important;
    }

    .bg-form {
        clip-path: polygon(1% 0, 60% 0, 100% 100%, 0% 100%);
        background-color: #0B7572;
        z-index: 2;
        width: 750px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fact-list {
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 40px;
        padding: 0 20px;

    }

    .fact-item {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .fact-image-wrap {
        width: 80px;
        height: 80px;
        background-color: #E9E9EC;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fact-title {
        font-size: 20px;
        font-weight: 600;
    }

    .fact-text {
        padding-top: 16px;
        font-size: 16px;
        font-weight: 400;
        color: var(--cl-silver);
    }

    .work-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 350px;

    }

    .big-wrapper2 {
        row-gap: 101px;
    }

    .work-card {
        width: 690px;
        height: 247px;
        -webkit-box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
        -moz-box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
        box-shadow: 2px 5px 15px 1px rgba(152, 145, 145, 0.415);
    }

    .etap {
        margin-top: 467px;
    }

    .etap-card{
        width: 690px;
        height: 245px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card3 {
        display: none;
    }

    .etap-card img {
        display: none;
    }

    .etap-card-info {
        width: 531px;
    }

    .etap-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .video-image {
        left: 60px;
    } 

    .footer {
        width: 100%;
    }

    .button-end {
        width: 143px;
        height: 21px;
    }
}

@media(max-width: 576px) {

    .services-list {
        max-width: 100%;
        margin-top: 67px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        gap: 20px;
        box-shadow: 2px 5px 15px 5px rgba(34, 60, 80, 0.52);
        border-radius: 20px;
    }

    .service-item {
        width: 100%;
        border: none;
        flex-direction: column;
        box-shadow: none;
    }

    .image-wrap {
        width: 92px !important;
        height: 92px !important;
        background-color: #E9E9EC;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .service-title {
        font-family: 'Exo 2', sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding-top: 0;
    }

    .service-text {
        font-size: 16px;
        font-weight: 400;
        padding-top: 16px;
        color: var(--cl-silver);
    }

    .fact-section {
        display: none;
    }

    .work-info {
        width: 345px;
    }

    .work-info-h2 {
        width: 344;
        height: 29;
        font-size: 24px;
        font-weight: 600;

    }

    .work-info-p {
        font-family: PT Sans;
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        letter-spacing: 0%;

    }

    .work-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 350px;
    }

    .work-card {
        width: 345px;
        height: 222px;
    }

    .card1 {
        display: none;
    }

    .card3 {
        display: none;
    }

    .etap {
        display: none;
    }

    .video-image {
        top: 150px;
        left: -1px;
    }

    .footer {
        width: 100%;
        top: 550px;
        left: -0.5px;
    }

    .big-wrapper2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;
        row-gap: 20px;
    }

    .footer-big-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;
    }
}